/* Define SCSS variables here */

/* Colours */
$grey: #333333;
$nav-text: white;

/* Navigation Colours */
$nav-text: white;
$nav-background: $grey;
$nav-text-color: $nav-text;

/* Clock Colours */
$clock-text-colour: white;
$clock-bg-colour: #b5D0e2;
$clock-border-colour: #2099e8;


